@import "variables.css";

header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 12vh;
  min-height: 50px;
  font-family: var(--header-font-family) !important;
  width: clamp(80%, 10vw + 70%, 90%);
  margin: 0 auto 5rem;
}

body {
  min-height: 100vh;
  background-color: var(--body-background-color);
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 2rem;
}

.btn {
  min-width: 0;
  cursor: pointer;
  height: clamp(30px, 5vw, 50px);
  padding: 0 2em;
  font-weight: 700 !important;
  font-size: clamp(0.5rem, 3vw, 1rem) !important;
  letter-spacing: 1px;
  border: 2px solid transparent;
  transition: all 0.15s ease;
  background-color: var(--header-button-bg-color);
  color: var(--primary-color);
}

.btn:hover {
  background-color: var(--header-button-hover-bg-color);
  border-bottom: 5px solid var(--primary-color);
}

.btn:active {
  background-color: transparent;
}

@media (max-width: 768px) {
  header {
    width: 90%;
    margin-bottom: 2rem;
  }

  nav {
    gap: 1rem;
  }
}