.home-content-container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 85%;
  min-width: 80%;
  max-width: 90%;
  margin: 0 auto 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.heading-container,
.welcome-section,
.today-sp,
.quote-container {
  background-color: hsl(240, 11%, 96%);
  width: 70%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.heading,
.welcome-text,
.today,
.quote-heading {
  color: purple;
}

.explore-btn {
  cursor: pointer;
  background-color: purple;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
}

.explore-btn:hover {
  opacity: 0.75;
}

.explore-btn:active {
  transform: scale(0.99);
}

.footer {
  display: flex;
  align-items: end;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: purple;
  padding: 0.5rem;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  #content {
    width: 90%;
  }
  .heading-container,
  .welcome-section,
  .today-sp,
  .quote-container {
    width: 90%;
  }
}
