@import "/src/styles/variables.css";

.menu-content {
  font-family: var(--primary-font-family);
  height: fit-content;
  margin: 0 auto 3rem;
  width: 85%;
  min-width: 80%;
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  place-items: center;
}

.menu-items {
  padding: 1rem;
  width: 70%;
  background-color: var(--container-background-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.price {
  align-self: flex-end;
  color: var(--price-color);
}

.menu-items-heading {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .menu-content {
    width: 90%;
  }
  .menu-items {
    width: 90%;
  }
}